*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(rgb(143, 98, 98),rgb(161, 161, 143),rgb(98, 98, 132)
    ),url(images/back.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    text-align: center;
    border: 2px solid rgb(11, 11, 11);
    position: absolute;
   
   
}
.main h1{
    color:#ff7200;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 70px;
    position: relative;
    left: 45px;
}
.form
{
    
    border: 1px solid rgb(11, 11, 11);
    border-width: 10px;
    border-radius: 5px;
    height: 250px;
    border-color: #322920;
    position: fixed;
    left: 650px;
    margin-top: 5px;
    padding: 20px;
    color:#fff;
    font-size: 20px;
    line-height: 30px;    
    border-radius: 5px;

}
.form input{
    padding: 2px;
border: none;
text-align: justify;
}
.form input::placeholder{
    color: rgb(204, 116, 21);
    padding: 3px;
}
.sub{
    color:#ff7200;
    padding: 10px;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px;

}
.sub:hover{
    background-color: lightgreen;
}